<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}> Présentation de mon GitHub Pages 😀</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Bienvenue sur mon GitHub Pages ! 😉 Vous y trouverez les projets sur lesquels je travaille actuellement ainsi que ceux que j'ai étudié dans le passé pour développer mes compétences en Machine Learning. Je suis au départ de formation classique mécanique,astronautique ✈🚀🛰, mais l'année 2020 m'a convaincu de choisir une autre voie pour ma carrière. Désormais, je m'oriente vers la transition énergétique et l'économie circulaire avec l'ingénierie de systèmes intelligents💻💡. Les différents projets présentés ci-dessous et ceux que je garde privés iront toujours dans le sens de changement de trajectoire professionnelle. Enfin, certains projets seront également l'occasion pour moi de renouer avec des passions mises de côté, abandonnées. Ces projets peuvent être triés selon trois groupes :
      
      <br>
      <br>
      <ul>
        <li> Computer Vision avec Object Detection et Segmentation d'images hyperspectrales </li>
        <li> Reinforcement Learning avec processus d'entraînement hybride </li>
        <li> Traitement du Signal augmenté par Machine Learning </li>
      </ul>

<!-- Directly copied from Amanda West about.html-->
      <br>
      <br>
      <hr>
</p>
